@font-face {
    font-family: 'Raleway-Regular';
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Monoton-Regular';
    src: url(../fonts/Monoton-Regular.ttf);
}

@font-face {
    font-family: 'Merienda-Regular';
    src: url(../fonts/Merienda-Regular.ttf);
}

@font-face {
    font-family: 'AdventPro-Regular';
    src: url(../fonts/AdventPro-Regular.ttf);

}