@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul,
ul li,
ol,
ol li {
    list-style: none;
}

a,
a::after,
a::before {
    text-decoration: none;
}

body {
    animation: opening 1.2s ease-in-out;
}

@keyframes opening {
    from {
        opacity: 0;
        background: #000;
    }

    to {
        opacity: 1;
    }
}

header {
    width: 100%;
    height: 200vh;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    z-index: 2;
    min-width: 100vh;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
    width: 100%;
    min-width: 100vh;
}

.animateBlur {
    position: absolute;
    bottom: -76px;
    bottom: -74px;
    width: 100%;
    min-width: 100vh;
    height: 150px;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 20%,
            rgba(0, 0, 0, 1) 50%);
    z-index: 10;
}

.animateBlur::after {
    content: '';
    position: absolute;
    bottom: -100px;
    bottom: -98px;
    width: 100%;
    height: 100px;
    background: linear-gradient(360deg,
            rgba(0, 0, 0, 0) 20%,
            rgba(0, 0, 0, 1) 50%);
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-silver: #c7c5c7;
    --color-red: #9b0f41;
    --color-light-pink: #da43ff;
    --color-orange-pink-mix: #ff73ac;
    --color-pink: #aa15b6;
    --color-rebeccapurple: rebeccapurple;
    --color-light-blue: #4977c5;
    --fonts-Raleway-r: 'Raleway-Regular';
    --fonts-Monoton-r: 'Monoton-Regular';
    --fonts-Merienda-r: 'Merienda-Regular';
    --fonts-AdventPro-r: 'AdventPro-Regular';
}

.navleftenter {
    animation: navleftenter 2s ease-in 1 forwards;
    transition: all .5s ease-in;
}

@keyframes navleftenter {
    from {
        transform: translateX(100%);
    }

    33% {
        transform: translateX(-10%) scale(1.25);
    }

    66% {
        transform: translateX(10%) scale(1.15);
    }

    to {
        transform: translateX(0%) scale(1) rotate(0deg);
    }

}

.menu .logo {
    z-index: 3;
}

.menu2,
.menu2 ul,
.menu,
.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.menu2 ul li a,
.menu .logo a,
.menu ul li a {
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--fonts-Raleway-r);
}

.menu2 ul li a {
    text-transform: capitalize;
}

.menu2 ul li a {
    margin-left: 42px;
}

.menu ul li a {
    margin-left: 16px;
    transition: all 0.5s;
}

.menu2 ul li a:hover,
.menu ul li a:hover {
    color: palevioletred;
}

.header__gen {
    padding: 36px 12px;
}

.header__animation {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 56px;
    margin-right: 56px;
}

.headerBox {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.animate-circle {
    position: relative;
    width: 540px;
    height: 540px;
    z-index: 5;
}

.circle-red-big {
    position: absolute;
    top: 0;
    left: 0;
    width: 540px;
    height: 540px;
    background: rgba(255, 24, 97, 0.6);
    color: #fff;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headTxtline {
    font-size: 56px;
    font-family: var(--fonts-Merienda-r);
    text-align: center;
    text-transform: uppercase;
}

.headTxtline2 {
    font-size: 72px;
    font-family: var(--fonts-Monoton-r);
}

.MyIntroTxt {
    position: relative;
    font-size: 24px;
    color: #fff;
    z-index: 5;
    width: 540px;
    height: 500px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.MyIntroTxt h1 {
    text-transform: uppercase;
    right: 0;
    font-family: var(--fonts-Merienda-r);
    font-size: 28px;
}

.MyIntroTxt p {
    text-align: right;
    line-height: 32px;
    font-family: var(--fonts-AdventPro-r);
}

.MyIntroTxt button {
    border: none;
    outline: none;
    background: rgba(199, 197, 199, 0.8);
    color: var(--color-rebeccapurple);
    font-family: var(--fonts-Merienda-r);
    font-size: 24px;
    font-weight: 100;
    padding: 12px 24px;
    margin: 16px 0;
    text-transform: lowercase;
    cursor: pointer;
    transition: all .5s;
    width: 200px;
    border-radius: 8px;
    text-align: center;
}

.MyIntroTxt button:hover {
    color: var(--color-white);
    background: var(--color-rebeccapurple);
    width: 220px;
}

.line {
    height: 8px;
    background: #ececec;
    margin: 4px;
    animation: lineMyintroTxt 3s 1 ease-in forwards;
    transition: animation .5s ease-in;
}

@keyframes lineMyintroTxt {
    from {
        width: 0px;
    }

    to {
        width: 370px;
    }
}

.SpecialTxt {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    /* width: 100%; */
    height: 100vh;
    min-height: 100%;
    position: fixed;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.TxtPosition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    text-align: center;
    transition: all 1s ease;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 40px;
    border-radius: 8px;
}

.TxtPosition:hover {
    background: #9b0f41;
}

.TxtPosition:hover .dotsAnime {
    animation: dotsAnime ease-in-out 1.4s infinite alternate;
}

.dotsAnime {
    width: 50px;
    height: 50px;
    background: var(--color-white);
    border-radius: 50%;
    background: transparent;
    margin: 12px auto;
    border: 18px solid var(--color-white);
}

@keyframes dotsAnime {
    0% {}

    100% {
        border: 4px solid var(--color-white);
        background: transparent;
        transform: rotate(360deg);
        border-radius: 4px;
    }
}

.TxtPosition h1 {
    font-family: var(--fonts-Merienda-r);
    margin: 12px auto;
    font-size: 24px;
}

.TxtPosition p {
    font-family: var(--fonts-Raleway-r);
    font-weight: lighter;
    font-size: 18px;
    line-height: 26px;
}



.section1,
.section2,
.section3,
.sectionBG4,
.section5,
.section6,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    position: relative;
    bottom: 0;
    z-index: 2;
    min-width: 100vh;
}

.section1 {
    background: #aa15b6;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
}

.section2 {
    background-image: url(../img/background/home-right.png);
    background-color: #000;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

.section3 {
    background-color: #000;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

.sectionBG4 {
    position: relative;
    background-image: url(../img/background/cloude2.jpg);
    background-color: var(--color-black);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 300vh;
    height: 500vh;
    width: 100%;
    background-attachment: fixed;
    z-index: 11;
    overflow: hidden;
}

.sectionBGin1 {
    position: absolute;
    top: 50vh;
    left: 0;
    right: 0;
    /* height: 500px; */
    padding: 90px 32px 64px 32px;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionBGin1 h1 {
    font-family: var(--fonts-Raleway-r);
    font-size: 48px;
    margin-bottom: 42px;
}

.section5 {
    position: relative;
    background-image: url(../img/background/your.jpg);
    background-color: var(--color-black);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 400vh;
    width: 100%;
    background-attachment: fixed;
    z-index: 10;
    top: 0;
    overflow: hidden;
    /* animation: secbg4 2s infinite  ease-in-out; */
}

/* @keyframes secbg4{
    0% {
        background-position-x:0;
    }
    50% {
        background-position-x:2px;
    }
    100%{
        background-position-x: 0;
    }
} */




.sectionBGin2 p,
.sectionBGin1 p {
    font-family: var(--fonts-Raleway-r);
    margin-bottom: 60px;
    color: rgb(200, 200, 200);
    text-align: center;
}

.sectionBGin1 p,
.sectionBGin2 p {
    font-size: 20px;
    width: 600px;
}

.lineEx {
    width: 200px;
    height: 8px;
    background: #fff;
    margin-bottom: 50px;
}

.sectionBGin2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 330vh;
    /* margin-top: 300vh; */
    /* height: 500px; */
    padding: 90px 32px 64px 32px;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.sectionBGin2 span {
    font-size: 86px;
}

.sectionBGin2 h3 {
    font-family: var(--fonts-Raleway-r);
    font-size: 24px;
    color: #fff;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;

}

.wrap {
    flex-wrap: wrap;
}

.pd-24-12 {
    padding: 24px 12px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-f-justify-content {
    justify-content: center !important;
}

.d-f-justify-content-around {
    justify-content: space-around;
}

.gap-12 {
    gap: 12px;
}

.col {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    font-family: var(--fonts-Merienda-r);
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .5s ease-in-out;
    margin: 8px;
    width: 320px;
    max-width: 100%;
}

.rightCaret {
    text-align: center;
}

.col:hover::after {
    position: absolute;
    content: '';
    left: 0;
    width: 4px;
    background: #fff;
    animation: colborder 0.4s 1 ease-in-out forwards;
}

.col:hover::before {
    position: absolute;
    content: '';
    right: 0;
    width: 4px;
    background: #fff;
    animation: colborder 0.4s 1 ease-in-out forwards alternate;
}

.col:hover::after {
    animation-delay: 0s;
}

.col:hover::before {
    animation-delay: 0.8s;
}

@keyframes colborder {
    0% {
        height: 0%;
    }

    50% {
        opacity: 1;
        transform: scale(1.8) translateX(10px);
    }

    100% {
        height: 100%;
        opacity: 0.5;
        transform: scale(1.2) translateX(0px);
    }
}

.col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}

.col2 h3 {
    margin: 6px auto;
    font-size: 24px;
}

.col2 p {
    text-align: justify;
    font-size: 18px;
    line-height: 26px;
}

.col2:hover::after {
    position: absolute;
    content: '';
    top: 0;
    height: 4px;
    background: #fff;
    animation: colborder2 0.4s 1 ease-in-out forwards;
}

.col2:hover::before {
    position: absolute;
    content: '';
    bottom: 0;
    height: 4px;
    background: #fff;
    animation: colborder2 0.4s 1 ease-in-out forwards;
}

.col2:hover::after {
    animation-delay: 0.4s;
}

.col2:hover::before {
    animation-delay: 1.2s;
}

@keyframes colborder2 {
    0% {
        width: 0%;
    }

    50% {
        opacity: 1;
        transform: scale(1.8) translateY(20px);
    }

    100% {
        width: 100%;
        opacity: 0.5;
        transform: scale(1.2) translateY(0px);
    }
}

.col:hover .rightCaret i:nth-child(1),
.col:hover .rightCaret i:nth-child(2) {
    animation: AnimationRightCaret ease-in-out 1s infinite alternate;
}

.col:hover .rightCaret i:nth-child(2) {
    animation-delay: .2s;
}

.Scol2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 860px; */
    width: 100%;

    margin: 0 auto;
    padding: 94px 12px;
    color: #fff;
    font-family: var(--fonts-Raleway-r);
    background: #000;
    transition: all 0.8s ease-in-out;
    border-radius: 8px;
    position: relative;
}

.Scol2:hover {
    background: rgba(0, 0, 0, 0.4);
}

.Scol2 h1 {
    text-align: center;
    margin: 24px auto;
    width: 100%;
    font-size: 24px;
}

.Scol2 p {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    width: 800px;
    max-width: 100%;
}

.Scol3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    min-height: auto;
    padding: 42px;
    margin: 14px;
    color: #fff;
    font-family: var(--fonts-Merienda-r);
    transition: all .6s ease-in-out;
    border-radius: 8px;
    background: rgba(171, 21, 182, 0.5);
    z-index: 9;
    cursor: pointer;
}

.Scol3:hover {
    transform: scale(1.4);
    background: #aa15b6;
    z-index: 10;
}

.Scol3:hover .dotsimg {
    border-radius: 8px;
    border: 4px solid #fff;
}

.Scol3 h1 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.byuser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 18px auto;
}

.dotsimg {
    width: 60px;
    height: 60px;
    background: transparent;
    border: 10px solid #fff;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

/* ************ */

.userName {
    text-transform: uppercase;
    text-align: right;
}

.usermanage {
    color: lightgrey;
    text-align: right;
}

.timelaps {
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    width: 80%;
    height: 70vh;
    margin: 0 auto;
}

.timelaps h1 {
    font-size: 36px;
    font-family: var(--fonts-Raleway-r);
    text-align: center;
}

.ClmnTxtAndBg {
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    background: transparent;
    border: 120px solid #000;
}

.Scol5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 33%;
}

.Scol5 p {
    font-family: var(--fonts-Raleway-r);
    font-weight: 700;
}

.Scol5 p:nth-child(1) {
    font-size: 16px;
    margin-bottom: 30px;
    color: #ececec;
    width: 200px;
    max-width: 100%;
}

.Scol5 p:nth-child(2) {
    font-size: 24px;
    margin-bottom: 20px;

}

.Scol5 p:nth-child(3) {
    font-size: 28px;
    text-transform: uppercase;
}

.clmnTxtAndBg {
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    height: 200vh;
}

.clmnRs {
    height: 200vh;
    align-items: stretch;
}

.respectinCol {
    position: absolute;
    background: var(--color-pink);
    top: 300vh;
    left: 0;
    right: 0;
    width: 100%;
    height: 30vh;
}

.sec5txt {
    width: 50%;
    height: 67vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.textandtransformTxt {
    background: #000;
    padding: 100px;
    font-family: var(--fonts-Raleway-r);
    font-weight: 700;
    border: 20px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textandtransformTxt .dataProject {
    margin-bottom: 25px;
    font-size: 18px;
}

.textandtransformTxt h3 {
    margin-bottom: 25px;
    font-size: 26px;
}

.textandtransformTxt p {
    line-height: 24px;
}

.textandtransformImg {
    position: relative;
    border: 100px solid #000;
    border-left: 120px solid #000;
    border-right: 120px solid #000;
    height: 100%;
    width: 100%;
}

.imgIn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px);
}

.imgIn1 {
    filter: hue-rotate(180deg);
}

.imgIn2 {
    filter: hue-rotate(270deg);
}

.imgIn3 {
    filter: hue-rotate(45deg);
}

.respTxt {
    display: flex;
}

.verticalSton {
    width: 4px;
    height: auto;
    background: #fff;
    margin: 0 12px;
}

.rescont {
    height: 100%;
}

.resrow {
    align-items: center;
    height: 100%;
}

.respTxtIn h1 {
    font-size: 24px;
}

.respTxtIn p {
    font-size: 18px;
}

.respTxtIn h1,
.respTxtIn p {
    font-family: var(--fonts-Raleway-r);
}

.lastrespection {
    position: absolute;
    background: var(--color-black);
    top: 330vh;
    left: 0;
    right: 0;
    width: 100%;
    height: 70vh;
}

.latrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-family: var(--fonts-Raleway-r);
}

.latrow span {
    font-size: 86px;
}

.latrow p {
    font-size: 18px;
    width: 600px;
    text-align: center;
}

.latrow h1 {
    margin-top: 24px;
    font-size: 28px;
    font-weight: 900;
}

.forward {
    display: flex;
}

.forward li {
    background: var(--color-white);
    margin: 48px 24px;
    border-radius: 50%;
    transition: all .5s;
}

.forward li a {
    width: 50px;
    height: 50px;
    font-size: 24px;

    color: var(--color-black);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.forward li:hover {
    transform: translateY(-10px);
}

.forward li:nth-child(1):hover {
    background: dodgerblue;
}

.forward li:nth-child(2):hover {
    background: deepskyblue;
}

.forward li:nth-child(3):hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.forward li:nth-child(4):hover {
    background: #e60023;
}

.forward li:nth-child(5):hover {
    background: #db4a39;
}

.forward li:hover a {
    color: var(--color-white);
}

footer {
    /*position: absolute;
    background: var(--color-pink);
    top: 400vh;
    left: 0;
    right: 0;
    width: 100%;
    height: 60vh; */
    padding: 150px 0;
    background: var(--color-pink);
}

.aboutG {
    align-items: center;
    justify-content: space-around !important;
    flex-wrap: wrap;
}

.about {
    width: 380px;
    font-family: var(--fonts-Raleway-r);
}

.about h1 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.about p {
    font-size: 20px;
    line-height: 22px;
    text-align: justify;
    font-weight: 100;
}

.socialabout {
    width: 420px;
}

.socialabaoutcolumn h1 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.socialabaoutcolumn ul li {
    margin-bottom: 4px;
}

.socialabaoutcolumn ul li a {
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    transition: all 0.5s;
    transform: translateX(0px);
    display: block;
}

.socialabaoutcolumn ul li a:hover {
    transform: translateX(8px);
}

@keyframes AnimationRightCaret {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* padding: 10px 15px; */
    color: #fff;
    border-radius: 5px;
    /* border: 1px solid #fff; */
    cursor: pointer;
    transition: all 0.5s ease 0s;
    z-index: 1000;
    /* background: #000; */
    transform: translateX(300%);
}

.scrollToTop:hover {
    color: dimgray;
    /* background: #fff; */
    /* border: 1px solid #000; */
}

.scrollToTop.activeTop {
    transform: translateX(0%);
}

/* galery JS */

.wrapper {
    max-width: 1110px;
    width: 100%;
}

.wrapper nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 720px;
    width: 100%;

}

nav .items .item {
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin: 0 10px;
}

nav .items .active,
nav .items .item:hover {
    color: #fff;
    background: #007bff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 120vh;
}

.gallery .image {
    padding: 7px;
    width: calc(100% /4);
    height: 256px;
}

.gallery .image.hide {
    display: none;
}

.gallery .image.show {
    animation: animate 0.4s ease;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.gallery .image span {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px #979797;
    overflow: hidden;
}

.gallery .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    transition: all 0.5s ease;
    cursor: pointer;
}

.gallery .image:hover img {
    transform: scale(1.3) rotate(5deg);
    z-index: 9;
}

.preview-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #ececec;
    max-width: 700px;
    width: 100%;
    max-height: 90%;
    height: auto;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rbga(0, 0, 0, 0.2);
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

.preview-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.5s ease;
}

.preview-box .details {
    display: flex;
    align-items: center;
    padding: 13px 15px 13px 10px;
    justify-content: space-between;

}

.preview-box .details .title {
    display: flex;
    font-size: 18px;
    font-weight: 400;
}

.details .title p {
    margin-left: 5px;
    font-weight: 600;
}

.details .icon {
    color: #007bff;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.details .icon:hover {
    color: #000;
}

.preview-box .image-box {
    display: flex;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 80vh;
    max-height: 100%;
    border-radius: 0 0 3px 3px;
    object-fit: cover;
    background-position: center;
    background-size: cover;

}

.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: none;
}

.shadow.show {
    display: block;
}

@media(max-width: 1000px) {
    .gallery .image {
        width: calc(100% /3);
    }

    nav .items .item {
        font-size: 17px;
    }
}

@media(max-width: 800px) {
    .gallery .image {
        width: calc(100% /2);
    }

    nav .items .item {
        font-size: 16px;
    }
}

@media(max-width: 700px) {
    nav .items {
        max-width: 600px;
    }

    nav .items .item {
        padding: 7px 15px;
    }
}

@media(max-width: 600px) {
    nav .items {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav .items .item {
        padding: 7px 10px;
        margin: 5px;
        font-size: 14px;
    }

    .gallery .image {
        width: 100%;
    }
}

@import 'animate.css';
@import 'media.css';