@media(max-width:1200px) {
    .MyIntroTxt {
        width: 500px;

    }

    .MyIntroTxt h1 {
        font-size: 24px;
    }

    .MyIntroTxt p {
        font-size: 20px;
        line-height: 26px
    }

    .MyIntroTxt button {
        font-size: 20px;
        padding: 12px 14px;
    }



    .col2 {
        padding: 20px;
    }

    .col2 p {
        font-size: 16px;
        line-height: 24px;
    }

    .about h1 {
        margin-bottom: 16px;
    }

    .animate-circle,
    .circle-red-big {
        width: 440px;
        height: 440px;
    }
}

@media (max-width:1120px) {
    .col {
        width: 280px;
    }
}

@media(max-width:998px) {
    .container {
        width: 96%;
    }

    .MyIntroTxt {
        width: 360px;
    }

    .section3 {
        height: auto;
    }

    .headerBox {
        width: 100%;
    }

    .MyIntroTxt h1 {
        font-size: 20px;
    }

    .MyIntroTxt p {
        font-size: 18px;
        line-height: 24px;
    }

    .header__animation {
        margin-left: 24px;
        margin-right: 24px;
    }

    .menu ul li a {
        font-size: 14px;
    }

    .line {
        height: 6px;

    }

    @keyframes lineMyintroTxt {
        from {
            width: 0px;
        }

        to {
            width: 250px;
        }
    }

    .headTxtline {
        font-size: 48px;
    }

    .headTxtline2 {
        font-size: 64px;
    }

    .TxtPosition {
        width: 720px;
        text-align: justify;
        padding: 30px;
    }

    .TxtPosition h1 {
        font-size: 20px;
    }

    .TxtPosition p {
        font-size: 16px;
    }

    .col {
        width: 300px;
    }

    .col2 {
        padding: 14px;
    }

    .col2 h3 {
        font-size: 18px;
    }

    .col2 p {
        font-size: 14px;
        line-height: 22px;
    }

    .Scol2 {
        padding: 76px 8px;
    }

    .Scol2 h1 {
        font-size: 22px;
        margin: 18px auto;
    }

    .Scol2 p {
        font-size: 18px;
        line-height: 24px;
    }

    .pd-24-12 {
        padding: 20px 4px;
    }

    .Scol3 {
        margin: 8px;
        height: auto;
        padding: 24px;
    }

    .Scol3:hover {
        transform: scale(1.2);
    }

    .sectionBGin1 {
        padding: 56px 28px 56px 28px;
    }

    .sectionBGin1 h1 {
        font-size: 36px;
        margin-bottom: 36px;
    }

    .sectionBGin1 p,
    .sectionBGin2 p {
        font-size: 18px;
        width: 600px;
    }

    .menu2 ul li a {
        margin-left: 36px;
    }

    .sectionBGin2 h3 {
        font-size: 20px;
    }

    .animate-circle,
    .circle-red-big {
        width: 400px;
        height: 400px;
    }

    .timelaps h1 {
        font-size: 28px;
    }

    .Scol5 p:nth-child(1) {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .Scol5 p:nth-child(2) {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .Scol5 p:nth-child(3) {
        font-size: 24px;

    }

    .textandtransformTxt {
        padding: 20px;
        border: 40px solid #000;
    }

    .textandtransformImg {
        border: 100px solid #000;
        border-left: 80px solid #000;
        border-right: 80px solid #000;
        height: 100%;
        width: 100%;
    }

    .textandtransformTxt .dataProject {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .textandtransformTxt h3 {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .textandtransformTxt p {
        line-height: 20px;
        text-align: justify;
    }

    .respTxtIn h1 {
        font-size: 20px;
    }

    .respTxtIn p {
        font-size: 16px;
    }

    .latrow span {
        font-size: 72px;
    }

    .latrow p {
        font-size: 16px;
        text-align: center;
    }

    .latrow h1 {
        margin-top: 16px;
        font-size: 24px;
    }

    .forward li {
        margin: 24px 12px;
    }

    .forward li a {
        width: 46px;
        height: 46px;
        font-size: 22px;
    }

    footer {
        padding: 70px 0;
    }

    .about {
        width: 320px;
    }

    .about h1 {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .about p {
        font-size: 18px;
        line-height: 20px;
    }

    .socialabout {
        width: 380px;
    }

    .socialabaoutcolumn h1 {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .socialabaoutcolumn ul li a {
        font-size: 18px;
    }
}

@media(max-width:786px) {

    .menu .logo a,
    .menu ul li a {
        font-size: 12px;
    }

    .MyIntroTxt h1 {
        font-size: 18px;
    }

    .animate-circle,
    .circle-red-big {
        width: 300px;
        height: 300px;
    }

    .headTxtline {
        font-size: 36px;
    }

    .headTxtline2 {
        font-size: 48px;
    }

    .animate-circle {
        /* display: none; */
    }

    .imgOrange-1-out {
        /* display: none; */
    }

    .circle-img-just {
        /* display: none; */
    }

    .MyIntroTxt {
        /* width: 100%; */
        left: 0;
        right: 0;
        width: 300px;
        /* align-items: center; */
    }

    .MyIntroTxt p {
        /*  text-align: center; */
        font-size: 16px;
    }

    .MyIntroTxt button {
        font-size: 16px;
        padding: 8px 14px;
        width: auto;
    }

    .MyIntroTxt button:hover {
        width: auto;
    }

    .TxtPosition {
        padding: 10px;
        widows: 90%;
        max-width: 90%;
    }

    .container {
        width: 100%;
    }

    .section1 {
        height: auto !important;
    }

    .col {
        padding: 14px;
        margin: 2px;
        width: 90%;

    }

    .col:hover,
    .col:hover::after,
    .col:hover::before,
    .col2:hover,
    .col2:hover::after,
    .col2:hover::before {
        animation: none;
    }

    .Scol3 {
        padding: 10px;
        margin: 4px;
    }

    .Scol3:hover {
        transform: none;
    }

    .pd-24-12 {
        padding: 16px 2px;
    }

    .Scol3 h1 {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .byuser {
        margin: 12px auto;
    }

    .Scol2 h1 {
        font-size: 20px;
        margin: 14px auto;
    }

    .Scol2 p {
        font-size: 16px;
        line-height: 22px;
    }

    .Scol3 {
        width: 90%;
        margin: 10px auto;
        height: auto !important;
        padding: 12px;
    }

    .textandtransformImg {
        border: 100px solid #000;
        border-left: 60px solid #000;
        border-right: 60px solid #000;
        height: 100%;
        width: 100%;
    }

    .textandtransformTxt h3 {
        margin-bottom: 18px;
        font-size: 20px;
    }

    .textandtransformTxt p {
        line-height: 20px;
        text-align: justify;
        font-size: 15px;
    }

    .respTxtIn h1 {
        font-size: 19px;
    }

    .respTxtIn p {
        font-size: 14px;
    }

    .latrow span {
        font-size: 64px;
    }

    .latrow p {
        font-size: 14px;
        text-align: center;
    }

    .latrow h1 {
        margin-top: 14px;
        font-size: 20px;
    }

    .about h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .about p {
        font-size: 16px;

    }

    .socialabout {
        justify-content: space-around;
    }

    .socialabaoutcolumn h1 {
        font-size: 16px;
        margin-top: 18px;
        margin-bottom: 14px;
    }

    .socialabaoutcolumn ul li a {
        font-size: 16px;
    }

}

@media (max-width:480px) {

    .animate-circle,
    .circle-red-big {
        display: none;
    }

    .MyIntroTxt {
        width: 100%;
        align-items: center;
    }

    .textandtransformImg {
        display: block;
        border: none;
        padding: none;
        width: 0;
        height: 0;
    }

    .textandtransformTxt {
        width: 100%;
    }

    .sec5txt {
        width: 100%;
        height: auto !important;
    }

    .mediaNone {
        display: none;
    }

    .timelaps {
        top: 10vh !important;
    }

    .Scol5 {
        width: 90%;
        padding: 12px;
    }

    .Scol5 p:nth-child(1) {
        width: auto !important;
        margin-bottom: 6px;
    }

    .Scol5 p:nth-child(2) {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .Scol5 p:nth-child(3) {
        font-size: 20px;
    }
}